@import './Card.module.scss';

.wrapper {
    @extend .cardWrapper;

    display: flex;
    flex-direction: column;
    align-items: center;

    .cardName {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        padding: .5em 0;
        font-size: 1.25em;
        text-wrap: nowrap;

        border-bottom: 2px solid $card-border-color;
    }
}

.curtain {
    position: absolute;

    background-color: $curtain-color;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    z-index: 20;
}