@import url('https://fonts.cdnfonts.com/css/inter');

body {
    width: 100vw;
    height: 100vh;

    margin: 0;

    font-size: 14px;
}

p {
    margin: 0;
}

* {
    font-family: 'Inter', sans-serif;
}

#root {
    width: 100vw;
    height: 100vh;
}